<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>partituras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">partituras</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <!-- Contador de notas -->
    <ion-text>
      <h3>Notas correctas: {{ notasAdivinadas }}/{{ totalNotas }}</h3>
    </ion-text>

    <!-- Imagen de la nota musical -->
     <ion-card>
      <div class="sheet-music">
        <img [src]="notaActual?.imagen" alt="Nota musical" />
      </div>
     </ion-card>

    <!-- Botones para las notas sostenidas -->
    <div class="sharp-note-buttons">
      <ion-button *ngFor="let nota of notasSostenidas" (click)="verificarRespuesta(nota)">
        {{ nota }}
      </ion-button>
    </div>

    <!-- Botones para las notas naturales -->
    <div class="note-buttons">
      <ion-button *ngFor="let nota of getCifradosUnicos()" (click)="verificarRespuesta(nota)">
        {{ nota }}
      </ion-button>
    </div>

    <!-- Mensaje de respuesta -->
    <ion-text *ngIf="mensaje" color="primary">{{ mensaje }}</ion-text>
  </div>
</ion-content>
